li {
    list-style: none;
}

.word-item-list {
    margin: 0;
    padding: 0;
}
.todo-list {
    background-color: #e3f2fd;
    padding: 10px;
    border-radius: 5px;
}

.record-button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #0089ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add-button:hover,
.record-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #cc0303;
}

.add-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #0089ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.replaceable-input {
    margin-right: 10px;
    border: solid 1px #252525;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #252525;
    border-radius: 8px;
    cursor: pointer;
}